/* Variables */

:root {
    --basic-grey: #EEEEEE;
    --hover-grey: #DFDFDF;
    --focus-grey: #D5D5D5;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --focus-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --focus-green: #00AA62;
    --basic-orange: #EFC84A;
    --hover-orange: #EAB534;
    --focus-orange: #E5A722;

    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --main-grey: #283136;
    --extra-grey: #666666;
    --light-grey: #E1E1E1;
    --box-grey: #4D4D4D;
  }
  
/* Global */

.page-body {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--main-grey);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* page */

.page {
    height: 100%;
}

.page-subtitle {
    text-align: center;
}

/* button */

.button {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 3px;
    padding: 16px 40px;

}

.button:hover {
    background-color: var(--hover-red);
}

.button:focus {
    background-color: var(--focus-red);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
    color: var(--basic-white);
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--hover-green);
}

.button-green:focus {
    background-color: var(--focus-green);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-orange {
    color: var(--basic-white);
    background-color: var(--basic-orange);
}

.button-orange:hover {
    background-color: var(--hover-orange);
}

.button-orange:focus {
    background-color: var(--focus-orange);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);  
}

.button-grey {
    color: var(--basic-black);
    background-color: var(--basic-grey);
}

.button-grey:hover {
    background-color: var(--hover-grey);
}

.button-grey:focus {
    background-color: var(--focus-grey);
    color: rgba(255, 255, 255, 0.3);
}

/* Main navigation */

.main-header {
    background-color: var(--basic-grey);
}
.main-navigation {
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    align-items: center;
    text-transform: uppercase;
}


.main-navigation-wrapper{
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left: 200px;
}

.site-navigation li {
    padding-left: 22.5px;
    padding-right: 22.5px;
}

.site-navigation a,
.сart-panel a {
    color: var(--basic-black);
}

.сart-panel {
    margin-left: auto;
}

.сart-panel .cart-link {
    position: relative;
    padding-left: 25px;
}

.cart-link::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url('../img/icons/cart-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 2px;
    left: 0;
}

.nav-active {
    border-bottom: 2px solid var(--basic-red);
}


/* User navigation */



.main-header a:hover {
    color: var(--basic-red);
}

.main-header a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

/* wrapper  */

.wrapper {
    width: 1160px;
    margin: 0 auto;
  }

.slider-wrapper{
    width: 1160px;
    margin: 0 auto;
}


/* slider */

.slider {
    display: grid;
    background-color: var(--basic-grey);
    margin-top: 0;
}

.slider-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.slider-content h2{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

/* products */

.products ul {
    padding: 0;
}

.products {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 80px 0;

}

.products-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    
}

.products-item {
    padding: 0;
    display: block;
    width: 300px;
}

.products-item h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* about us */

.aboutus {
    display: grid;
    border-top: 2px solid var(--basic-grey);
    padding: 39px 0 80px 0;
}

.aboutus-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.aboutus-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.aboutus-subtitle {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main-grey);
}
.aboutus-list li{
    position: relative;
    padding-left: 23px;
    list-style: none;
}

.aboutus-list li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -10px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
  }

.aboutus-table {
    text-align: center;
    font-weight: normal;
    line-height: 18px;
    color: var(--main-grey);
}

.table-title {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.table-numbers {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}


/* partners */

.partners {
    border-top: 2px solid var(--basic-grey);
    border-bottom: 2px solid var(--basic-grey);
    padding: 45px 0 45px 0;
}

.partners-list {
    width: 1085px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.partners-list a {
    opacity: 0.2;
}

.partners-item {
    position: relative;
    margin-right: 42px;
 }
  
.partners-item::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 10px;
    width: 2px;
    height: 52px;
    background-color: var(--basic-grey);
    background-repeat: no-repeat;
    background-position: 0 0;
}
  
.partners-item:last-child {
    margin-right: 0;
}

.border-none::after {
    display: none;
}

.partners-item a:hover {
    opacity: 1;
}

.partners-item a:focus {
    opacity: 0.1;
}

/* footer */

.main-footer {
    margin-top: 80px;
}

.footer-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.footer-contacts {
    position: relative;
    line-height: 18px;
    color: var(--extra-grey)
}

.footer-contacts h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}


.footer-phone {
    color: inherit;
}

.footer-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    margin-top: 70px;    
}

.social-wrapper {
    width: 261px;
}

.social-list a {
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    margin-right: 12px;

}

.social-list a:hover {
    background-color: var(--hover-red);
}

.social-list a:focus {
    background-color: var(--focus-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-slogan {
    line-height: 22px;
    color: #444444;
}

.slogan-wrapper {
    width: 660px;
}

.slogan-desc {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

/* form filter */

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
    margin: 50px auto; 
}
  
.range-filter {
    width: 260px;
    margin-top: 49px;
}
  
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 18px;
  }
  
.range-controls .toggle-max {
    left: 160px;
  }
  
.price-controls {
    display: flex;
    justify-content: space-between;
  }
  
.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}
  
.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--main-grey);
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}

.form-filter legend{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.form-filter ul{
    list-style: none;
}

.product-filter {
    width: 260px;
}

.filter-option {
    margin: 0;
    padding-left: 0;
}
  
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.form-filter fieldset{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--box-grey);
}
  
.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--box-grey);
    border-radius: 50%;
}
  
  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -34px;
    width: 8px;
    height: 8px;
    background-color: var(--box-grey);
    border-radius: 50%;
}

.filter-feature-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--box-grey);
    border-radius: 2px;
}

.filter-feature-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -39px;
    width: 27px;
    height: 23px;
    background-image: url("../img/icons/selected-shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


/* catalog */

.products-wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog {
    width: 760px;
}

.catalog-item {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    width: 359px;
}

.wrapper-breadcrumbs {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}


.breadcrumbs {
    list-style: none;
}

.breadcrumbs a{
    color: var(--basic-black);
    opacity: 0.3;
}

.breadcrumbs a:hover{
    opacity: 0.6;
}

.breadcrumbs a:focus{
    opacity: 1;
}

.catalog-item {
    list-style: none;
}

.catalog-item li {
    width: 360px;
}

.list-container {
    background-color: var(--basic-grey);
    text-align: center;
    padding: 35px 80px 44px 80px;
}

.container-heading {
    color: var(--basic-black);
    text-transform: uppercase;
}

.container-description {
    color: var(--extra-grey);
    line-height: 18px;
}

.pagination-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 443px;
}

.pagination-list a{
    color: var(--basic-black);
    background: var(--basic-grey);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.pagination-next a{
    width: 260px;
}

.pagination-list a:hover{
    background: var(--hover-grey);
    border-radius: 3px;
}

.pagination-list a:focus{
    background: var(--focus-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.pagination-current {
    background: var(--basic-white);
    border: 3px solid #DBDBDB;
    outline-offset: -3px;
    border-radius: 3px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}