/* Variables */

:root {
    --basic-grey: #EEEEEE;
    --hover-grey: #DFDFDF;
    --focus-grey: #D5D5D5;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --focus-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --focus-green: #00AA62;
    --basic-orange: #EFC84A;
    --hover-orange: #EAB534;
    --focus-orange: #E5A722;

    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --main-grey: #283136;
    --extra-grey: #666666;
    --light-grey: #E1E1E1;
    --box-grey: #4D4D4D;
    --border-form: #D7DCDE;
    --value-form: #444444;
  }
  
/* Global */

.page-body {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--main-grey);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* page */

.page {
    height: 100%;
}

.page-subtitle {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 70px;
    color: var(--basic-black);
}

.page-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

/* button */

.button {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 3px;
    padding: 16px 40px;
    border: none;
}

.slide-button {
    padding: 16px 54px;
}

.button-form {
    padding: 16px 70px;
}

.button:hover {
    background-color: var(--hover-red);
}

.button:focus {
    background-color: var(--focus-red);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
    color: var(--basic-white);
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--hover-green);
}

.button-green:focus {
    background-color: var(--focus-green);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-orange {
    color: var(--basic-white);
    background-color: var(--basic-orange);
}

.button-orange:hover {
    background-color: var(--hover-orange);
}

.button-orange:focus {
    background-color: var(--focus-orange);
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);  
}

.button-grey {
    color: var(--basic-black);
    background-color: var(--basic-grey);
}

.button-grey:hover {
    background-color: var(--hover-grey);
}

.button-grey:focus {
    background-color: var(--focus-grey);
    color: rgba(255, 255, 255, 0.3);
}

/* Modal */


.info-wrapper{
    display: flex;
    justify-content: space-between;
    width: 760px;
}

.modal {
    width: 960px;
    padding: 100px auto ;
}

.modal h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black)
}

.feedback-form label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.feedback-form input[type="name"],
.feedback-form input[type="email"] {
    box-sizing: border-box;
    width: 360px;
    padding: 14px 0 14px 14px;
    font: inherit;
    color: var(--value-form);
    opacity: 0.5;
    background-color: var(--basic-extra-light);
    border: 2px solid var(--border-form);
    border-radius: 3px;
}

.feedback-form textarea {
    box-sizing: border-box;
    width: 760px; 
    padding-top: 14px;
    padding-left: 14px;
    padding-bottom: 84px;
    font: inherit;
    color: var(--value-form);
    opacity: 0.5;
    background-color: var(--basic-extra-light);
    border: 2px solid var(--border-form);
    border-radius: 3px;
}


/* modal closer */




/* Main navigation */

.main-header {
    background-color: var(--basic-grey);
}
.main-header-logo {
    padding-right: 202px;
    
}

.main-navigation {
    display: flex;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0;
}


.main-navigation-wrapper{
    padding-top: 39px;
    width: 1160px;
    margin: 0 auto;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    padding-left: 0;
}

.site-navigation li {
    padding-top: 15px;
    margin: 0;
    padding-right: 45px;
}

.site-navigation a,
.shopping-cart a {
    color: var(--basic-black);
}

.shopping-cart {
    margin-left: auto;
    padding-top: 14px;
}

.shopping-cart .basket-link {
    position: relative;
    padding-left: 40px;
}

.basket-link::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url('../img/icons/cart-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 2px;
    left: 0;
}

.nav-active {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--basic-red);
}


/* User navigation */


.main-header a:hover {
    color: var(--basic-red);
}

.main-header a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

/* wrapper  */

.wrapper {
    width: 1160px;
    margin: 0 auto;
  }

.slider-wrapper{
    width: 1160px;
    margin: 0 auto;
}


/* slider */

.slider {
    margin: 0 auto;
    background-color: var(--basic-grey);
}

.slider-content {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.slider-content h2{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    padding: 73px 0 25px 0;
    margin: 0;
}

.slider-info p{
    width: 400px;
    margin: 0;
    padding-bottom: 55px;
}

.slider-content a{
    margin-top 30px;
}

/* products */



.products {
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.products-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1100px; 
    padding: 0;  
    margin: 0;
}

.products-item {
    padding: 0;
    margin: 0;
    display: block;
    width: 300px;
    padding: 76px 0;
}

.products-item img{
    padding-bottom: 15px;
}

.products-item h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.products-item p{
    padding-bottom: 30px;
}

/* about us */

.aboutus {
    border-top: 2px solid var(--basic-grey);
    margin-top: 18px;
    padding: 39px 0 5px 0;
}

.aboutus-wrapper {
    display: flex;
    justify-content: space-between;
}

.title-wrapper {
    margin: 0 0 40px 0;
    width: 651px;
}

.aboutus-text {
    padding: 10px 0 25px 0;
}


.aboutus-cowertable {
    width: 374px;
    justify-self: flex-end;
}

.aboutus-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
    margin: 32px 0 25px 0;
}

.aboutus-subtitle {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main-grey);
    padding-bottom: 8px;
}

.aboutus-list {
    margin: 0;
    padding-left: 10px;
}

.aboutus-item{
    position: relative;
    list-style: none;
    padding-left: 25px;
    padding-bottom: 25px;
}

.aboutus-item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -10px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
  }

.aboutus-cowertable {
    padding-top: 230px;
    background-image: url(../img/logo/nerds-illustration.png);
    background-repeat: no-repeat;
    background-position: 15px 0;
}


.aboutus-table {
    text-align: center;
    font-weight: normal;
    line-height: 18px;
    color: var(--main-grey);
    padding-top: 14px;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 14px;
    text-align: start;
    padding-left: 0;
}

.aboutus-table td{
    padding-right: 10px;
}

.table-title {
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;

}

.table-numbers {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
    vertical-align: top;
}

.aboutus-table sup {
    font-size: 26px;
    line-height: 40px;
}


/* partners */

.partners {
    border-top: 2px solid var(--basic-grey);
    border-bottom: 2px solid var(--basic-grey);
    padding: 45px 0 40px 0;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 44px;
    margin-left: 30px;
}

.partners-item:nth-child(3) {
    align-self: center;
}

.partners-list a {
    opacity: 0.2;
}

.partners-item {
    position: relative;
    margin-right: 40px;
 }
  
.partners-item::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -50px;
    bottom: 0;
    width: 2px;
    height: 52px;
    background-color: var(--basic-grey);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: auto;
    margin-bottom: auto;
}
  
.partners-item:last-child {
    margin-right: 0;
}

.border-none::after {
    display: none;
}

.partners-item a:hover {
    opacity: 1;
}

.partners-item a:focus {
    opacity: 0.1;
}

/* footer */

.main-footer {
    margin-top: 80px;
}

.footer-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.footer-map {
    margin: 0 auto;
    position: relative;

}

.on-map{
    margin: 0 auto;
    width: 100%;
    border: none;
    top: 0;
}

.footer-contacts-wrapper {
    position: absolute;
    width: 100%;
    top: 0px;
}

.footer-map-wrapper {
    margin: 0 auto;
    width: 1140px;
    height: 416px;
    position: relative;
}

.footer-contacts {
    line-height: 18px;
    color: var(--extra-grey);
    background-color: var(--basic-white);
    box-sizing: border-box;
    width: 319px;
    margin-top: 55px;
    padding: 35px 55px 55px 50px;
    top: auto;
    position: absolute;

}

.footer-contacts h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 24px;
}

.contacts-phone {
    margin-bottom: 50px;
}

.footer-phone {
    color: inherit;
    margin-bottom: 30px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    margin: 0;  
    padding-top: 55px;
    padding-left: 0;
}

.social-list a {
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-right: 12px;

}

.social-list a:hover {
    background-color: var(--hover-red);
}

.social-list a:focus {
    background-color: var(--focus-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-slogan {
    line-height: 22px;
    color: #444444;
}

.footer-slogan p {
    margin: 0;
}

.slogan-wrapper {
    justify-self: flex-end;
}

.slogan-desc {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
    margin: 0;
    padding: 65px 220px 10px 0;
}

/* form filter */

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
    margin: 50px auto; 
}
  
.range-filter {
    width: 260px;
    margin-top: 49px;
}
  
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 18px;
  }
  
.range-controls .toggle-max {
    left: 160px;
  }
  
.price-controls {
    display: flex;
    justify-content: space-between;
  }
  
.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}
  
.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--main-grey);
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}

.form-filter legend{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.form-filter ul{
    list-style: none;
}

.product-filter {
    width: 260px;
}

.filter-option {
    margin: 0;
    padding-left: 0;
}
  
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.form-filter fieldset{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--box-grey);
}
  
.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--box-grey);
    border-radius: 50%;
}
  
  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -34px;
    width: 8px;
    height: 8px;
    background-color: var(--box-grey);
    border-radius: 50%;
}

.filter-feature-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--box-grey);
    border-radius: 2px;
}

.filter-feature-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -39px;
    width: 27px;
    height: 23px;
    background-image: url("../img/icons/selected-shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


/* catalog */

.products-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.catalog {
    width: 760px;
}

.catalog-item {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    width: 359px;
}

.wrapper-breadcrumbs {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}


.breadcrumbs {
    list-style: none;
}

.breadcrumbs a{
    color: var(--basic-black);
    opacity: 0.3;
}

.breadcrumbs a:hover{
    opacity: 0.6;
}

.breadcrumbs a:focus{
    opacity: 1;
}

.catalog-item {
    list-style: none;
}

.catalog-item li {
    width: 360px;
}

.list-container {
    background-color: var(--basic-grey);
    text-align: center;
    padding: 35px 80px 44px 80px;
}

.container-heading {
    color: var(--basic-black);
    text-transform: uppercase;
}

.container-description {
    color: var(--extra-grey);
    line-height: 18px;
}

.pagination-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 443px;
}

.pagination-list a{
    color: var(--basic-black);
    background: var(--basic-grey);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.pagination-next a{
    width: 260px;
}

.pagination-list a:hover{
    background: var(--hover-grey);
    border-radius: 3px;
}

.pagination-list a:focus{
    background: var(--focus-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.pagination-current {
    background: var(--basic-white);
    border: 3px solid #DBDBDB;
    outline-offset: -3px;
    border-radius: 3px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-header {
    background-color: black;
}