/* Variables */

:root {
    --basic-grey: #EEEEEE;
    --hover-grey: #DFDFDF;
    --focus-grey: #D5D5D5;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --focus-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --focus-green: #00AA62;
    --basic-orange: #EFC84A;
    --hover-orange: #EAB534;
    --focus-orange: #E5A722;

    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --main-grey: #283136;
    --extra-grey: #666666;
    --light-grey: #E1E1E1;
  }
  
/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--main-grey);
    background-color: var(--basic-white);
  }

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }


/* page */

.page-subtitle {
    background-color: var(--basic-grey);
}

/* button */

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 3px;

}

.button:hover {
    background-color: var(--hover-red);
}

.button:focus {
    background-color: var(--focus-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
    color: var(--basic-white);
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--hover-green);
}

.button-green:focus {
    background-color: var(--focus-green);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-orange {
    color: var(--basic-white);
    background-color: var(--basic-orange);
}

.button-orange:hover {
    background-color: var(--hover-orange);
}

.button-orange:focus {
    background-color: var(--focus-orange);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);  
}

.button-grey {
    color: var(--basic-black);
    background-color: var(--basic-grey);
}

.button-grey:hover {
    background-color: var(--hover-grey);
}

.button-grey:focus {
    background-color: var(--focus-grey);
}

/* Main navigation */
  
.main-navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    align-items: center;
    text-transform: uppercase;
    background-color: var(--basic-grey);
}

.site-navigation {
    list-style: none;
}

/* User navigation */


.main-header a {
    color: var(--basic-black);
}

.main-header a:hover {
    color: var(--basic-red);
}

.main-header a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

/* slider */

.slider {
    background-color: var(--basic-grey);
}

.slider-content h2{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

/* products */

.prodicts-list {
    list-style: none;
}

.products-item h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* about us */


.aboutus-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.aboutus-subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.aboutus-table {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--main-grey);
}

.table-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.table-numbers {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}


/* partners */

.partners-list {
    list-style: none;
}

.partners-item {
    opacity: 0.2;
}

.partners-item:hover {
    opacity: 1;
}

.partners-item a:focus {
    opacity: 0.1;
}

/* footer */

.footer-contacts {
    font-size: 16px;
    line-height: 18px;
    color: var(--extra-grey)
}

.footer-contacts h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.footer-phone {
    color: inherit;
}

.social-list {
    list-style: none;
     
}

.social-list a {
    background-color: var(--light-grey);

}

.social-list a:hover {
    background-color: var(--hover-red);
}

.social-list a:focus {
    background-color: var(--focus-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-slogan {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.slogan-desc {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

/* form filter */

.form-filter legend{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.form-filter ul{
    list-style: none;
    text-transform: uppercase;
}

/* catalog */

.wrapper-breadcrumbs {
    text-transform: uppercase;
}


.breadcrumbs {
    list-style: none;
}

.breadcrumbs a{
    color: var(--basic-black);
    opacity: 0.3;
}

.breadcrumbs a:hover{
    opacity: 0.6;
}

.breadcrumbs a:focus{
    opacity: 1;
}

.catalog-item {
    list-style: none;
}

.list-container {
    background-color: var(--basic-grey);
}

.container-heading {
    color: var(--basic-black);
    text-transform: uppercase;
}

.container-description {
    color: var(--extra-grey);
    line-height: 18px;
}


.pagination-list {
    list-style: none;
}

.pagination-list a{
    color: var(--basic-black);
    background: var(--basic-grey);
    border-radius: 3px;
}

.pagination-list a:hover{
    background: var(--hover-grey);
    border-radius: 3px;
}

.pagination-list a:focus{
    background: var(--focus-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.pagination-current {
    background: var(--basic-white);
    border: 3px solid #DBDBDB;
    border-radius: 3px;
}


